body {
  font-family: 'Lato', sans-serif;
}

main {
  background: linear-gradient(#DEDEDE, #7160BE, #CECECE);
}

.titulo-fotos {
  color: blue;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  padding: 1em 0;
}

.unhasmao {
  width: 940px;
  margin: 0 auto;
  padding-bottom: 1em;
}

.unhasmao li {
  display: inline-block;
  width: 50%;
}
.unhasmao img {
  width: 100%;
  height: 400px;
}

@media screen and (max-width: 480px) {
  .caixa, .unhasmao {
    width: auto;
  }

  .logo {
    text-align: center;
  }

  .logotipo {
    position: static;
    width: 65%;
  }

  nav {
    position: static;
  }
  .unhasmao li {
    display: block;
    width: 98%;
    margin: 0 auto;
  }
}