header {
  background: #5e17eb;
}

.caixa {
  width: 940px;
  height: 300px;
  margin: 0 auto;
  position: relative;
}

.logotipo {
  width: 40%;
  position: absolute;
  top: -60px;
  left: -50px;
}

.itens-menu {
  display: inline;
  margin-left: 1em;
}

nav {
  position: absolute;
  top: 110px;
  right: 0px;
}
nav a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: bold;
  color: #FDFDFD;
}

nav a:hover {
  color: #93FF00;
  text-decoration: underline;
}

footer {
  background: #5e17eb;
  text-align: center;
  padding: 20px;
}

.logo-rodape {
  width: 15%;
}

.copyright {
  color: #FDFDFD;
  font-size: 13px;
}
