body {
  font-family: 'Lato', sans-serif;
}

main {
  background: linear-gradient(#FEFEFE, #DDDDDD, #FEFEFE);
}

.titulo {
  text-align: center;
  padding: 1em 0;
  font-size: 38px;
  font-weight: bold;
}

.informacoes-basicas, .opcoes, .horario, .botao {
  width: 940px;
  margin: 1em auto;
}

.informacoes-basicas > input {
  display: block;
  padding: 1em;
  width: 40%;
}

.informacoes-basicas > label {
  display: block;
  margin: 20px 0 5px 0;
  font-weight: bold;
}

.comentario {
  margin-bottom: 1em;
  width: 35%;
  padding: 1em;
}
form legend {
  font-size: 22px;
  font-weight: bold;
  padding: 1em 0;
}
.opcoes label {
  display: block;
  padding: 0.3em 0;
  font-size: 20px;
}

.horario label {
  padding: 0.5em 0;
  font-size: 20px;
  margin-right: 1em;
}

.horario input {
  width: 20%;
}

.hora {
  display: block;
  margin: 0.5em 0;
}


.enviar {
width: 30%;
height: 50px;
font-size: 25px;
font-weight: bold;
margin: 2em 0;
background: #0000FF;
color: #FFFFFF;
transition: 500ms all;
}

.enviar:hover {
  transform: scale(1.1);
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .caixa, .informacoes-basicas, .opcoes, .horario, .botao {
    width: auto;
  }

  .logo {
    text-align: center;
  }

  .logotipo {
    width: 70%;
    margin: 0 auto;
    position: static;
  }

  nav {
    position: static;
    text-align: center;
  }
.informacoes-basicas {
  margin: 0 auto;
  width: 100%;
}
  .informacoes-basicas > label{
    text-align: center;
    padding-bottom: 1em;
  }
.informacoes-basicas > input {
  margin: 0 auto;
  width: 50%;
}

.comentario {
  display: block;
  margin: 0 auto;
  width: 70%;
}

.opcoes, .horario {
  text-align: center;
  padding: 1em 0;
  margin: 1em 0;
}

.opcoes > label {
  font-size: 22px;
}

.horario > label {
  font-size: 22px;
  display: block;
  padding: 1em;
}

.horario > input {
  width: 40%;
  height: 4em;
  padding: 1em 0;
}
.botao {
  text-align: center;
}
.enviar {
  width: 80%;
}


}
